<div class = "navigation">
<ul>
    <li style="float:left"><%= button_to "Register as a seller", new_seller_registration_path, method: "get" %></li>
    <li style="float:left"><%= button_to "Register as a bidder", new_bidder_registration_path, method: "get" %></li>
</ul>
</div>